.tableRow {
    position: relative;
  }
  
  .tableRow::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -8px;
    right: -10px;
    bottom: -1px;
    background: #f5f5f5;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .tableRow:hover::before {
    opacity: 1;
  }