# Alchemy API Key i.e. WW6gzN7K...NeegpxnAQLO
NEXT_PUBLIC_ALCHEMY_KEY=''
# Wallet Connect Project Id i.e 57383c91ed88bb5edb9e5fae...
NEXT_PUBLIC_WALLET_CONNECT_ID=''
# API for graphql fetches for platform state
NEXT_PUBLIC_GRAPHQL_API=''
# Token for web3storage service
NEXT_PUBLIC_WEB3STORAGE_TOKEN=''