# Alchemy API Key i.e. WW6gzN7K...NeegpxnAQLO
NEXT_PUBLIC_ALCHEMY_KEY=''
# Wallet Connect Project Id i.e 57383c91ed88bb5edb9e5fae...
NEXT_PUBLIC_WALLET_CONNECT_ID=''
# API for graphql fetches for platform state
NEXT_PUBLIC_GRAPHQL_API=''
# Token for web3storage service
NEXT_PUBLIC_WEB3STORAGE_TOKEN=''
# Token for Basement api used for ENS resolution
NEXT_PUBLIC_BASEMENT_API=''
# Project Id for Privy
NEXT_PUBLIC_PRIVY_APP_ID
# Pimlico API Key
NEXT_PUBLIC_PIMLICO_KEY=
# Metadata server key
NEXT_PUBLIC_METADATA_SERVER_URL=
# Mux token id
NEXT_PUBLIC_MUX_TOKEN_ID=
# Mux token secret
NEXT_PUBLIC_MUX_TOKEN_SECRET=