@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

code {
  font-family: monospace;
  background: rgba(0, 0, 0, 0.05);
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: 728px;
  font-size: 0.8rem;
  width: 100%;
}

@layer base {
  :root {
    /* hsl(deg % % / <alpha-value>) */

    /* Background */
    --base: 0deg 0% 100%;
    --base-hover: 0deg 0% 98%;
    --base-border: 0deg 0% 82%;
    --base-shade: 0deg 0% 97%;

    /* Label */
    --label: 0deg 0% 15%;
    --label-muted: 0deg 0% 47%;
    --label-faint: 0deg 0% 76%;

    /* Accent */
    --accent: 216deg 100% 58%;
    --accent-hover: 216deg 73% 49%;

    /* TODO: decide upon these colors */
    /* --base-selected: */
    /* --label-link:  */
  }

  /* TODO: add values for dark mode */
}