@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* hsl(deg % % / <alpha-value>) */

    /* Background */
    --base: 0deg 0% 100%;
    --base-hover: 0deg 0% 98%;
    --base-border: 0deg 0% 82%;
    --base-shade: 0deg 0% 97%;

    /* Label */
    --label: 0deg 0% 15%;
    --label-muted: 0deg 0% 47%;
    --label-faint: 0deg 0% 76%;

    /* Accent */
    --river-accent: 216deg 100% 58%;
    --river-accent-hover: 216deg 73% 49%;

    /* TODO: decide upon these colors */
    /* --base-selected: */
    /* --label-link:  */
    /* --label-hover */

    /* shadcn styles */
    --border: 0deg 0% 82%;

    --input: 214.3deg 31.8% 91.4%; /* unchanged */

    --ring: 215deg 20.2% 65.1%; /* unchanged */

    --radius: 0.5rem; /* unchanged */

    /* TODO: add values for dark mode */
  }
}

@layer base {
  body {
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
