@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: monospace;
  background: rgba(0, 0, 0, 0.05);
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: 728px;
  font-size: 0.8rem;
  width: 100%;
}
