@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 0 0 15;
    --secondary: 0 0 47;
    --accent: 216 100 58;
    --accentHover: 213 78 36;
    --neutral: 0 0 98;
    --neutralHover: 0 0 95;
    /* Colors to include */
    /* --primaryHover:  */
    /* --secondaryHover */
  }

  /* TODO: add values for dark mode */
}
